<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search Contacts"
            [(ngModel)]="searchQuery"
          />
          <button class="btn btn-primary" (click)="addContact()">
            Add Contact
          </button>
          <div *ngIf="showModal">
            <form (submit)="submitContactForm()">
              <label>
                First Name
                <input
                  type="text"
                  [(ngModel)]="firstName"
                  name="firstName"
                  required
                  maxlength="50"
                />
              </label>

              <label>
                Last Name
                <input
                  type="text"
                  [(ngModel)]="lastName"
                  name="lastName"
                  required
                  maxlength="50"
                />
              </label>

              <label>
                Cellphone Number
                <input
                  type="tel"
                  [(ngModel)]="cellphone"
                  name="cellphone"
                  pattern="[0-9]*"
                  required
                />
              </label>

              <label>
                Address
                <textarea
                  [(ngModel)]="address"
                  name="address"
                  required
                  maxlength="255"
                ></textarea>
              </label>

              <label>
                Biography
                <textarea
                  [(ngModel)]="biography"
                  name="biography"
                  required
                  maxlength="255"
                ></textarea>
              </label>

              <button type="submit">Add Contact</button>
            </form>
          </div>
        </div>
        <div *ngIf="contacts.length > 0">
          <ul class="list-group">
            <li
              class="list-group-item"
              [ngClass]="{ active: selectedContact === contact }"
              *ngFor="let contact of filteredContacts"
            >
              <div class="d-flex justify-content-start align-items-center">
                <div class="initials">{{ getInitials(contact.firstName) }}</div>
                <div class="ml-3">
                  {{ contact.firstName }} {{ contact.lastName }}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="contacts.length === 0">
          <p>No contacts found.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div *ngIf="selectedContact" class="card">
      <div class="card-body">
        <div class="d-flex justify-content-center align-items-center mb-3">
          <div class="initials-lg">
            {{ getInitials(selectedContact.firstName) }}
          </div>
        </div>
        <div class="mb-3">
          <strong
            >{{ selectedContact.firstName }}
            {{ selectedContact.lastName }}</strong
          >
        </div>
        <div class="mb-3">
          <p>Email: {{ selectedContact.email }}</p>
          <p>Phone: {{ selectedContact.cellNumber }}</p>
          <p>Age: {{ selectedContact.age }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
