<div class="contacts">
  <div class="contacts__nav">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/contacts']" routerLinkActive="active"
        >Contacts</a
      >
      <a mat-list-item [routerLink]="['/about']" routerLinkActive="active"
        >About Me</a
      >
    </mat-nav-list>
  </div>

  <div class="contacts__content">
    <div class="contacts__list">
      <mat-form-field appearance="fill">
        <mat-label>Filter contacts</mat-label>
        <input matInput placeholder="Search contacts..." />
      </mat-form-field>

      <ul class="contacts__items">
        <li
          *ngFor="let contact of filteredContacts"
          (click)=""
          [class.active]="selectedContact?.id === contact.id"
        >
          <div class="contact__initials">
            {{ contact.firstName[0] }}
          </div>
          <div class="contact__details">
            <div class="contact__name">
              {{ contact.firstName }} {{ contact.lastName }}
            </div>
            <div class="contact__phone">{{ contact.cellNumber }}</div>
          </div>
        </li>
        <li class="contacts__empty" *ngIf="filteredContacts.length === 0">
          No contacts found.
        </li>
      </ul>

      <button mat-raised-button color="primary">Add Contact</button>
    </div>

    <div class="contacts__details">
      <div
        class="contact__initials contact__initials--large"
        *ngIf="selectedContact"
      >
        {{ selectedContact.firstName[0] }}
      </div>
      <div class="contact__details" *ngIf="selectedContact">
        <div class="contact__name">
          {{ selectedContact.firstName }} {{ selectedContact.lastName }}
        </div>

        <div class="contact__age" *ngIf="selectedContact?.age">
          Age: {{ selectedContact.age }}
        </div>
      </div>
    </div>
  </div>
</div>
